* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background: #d97c75;
  color: #304252;
  width: 90%;
  margin: 0 auto 20px auto;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-todo-input {
  padding: 3px;
  margin: 0 15px;
}

.add-btn {
  padding: 3px;
}

section, div {
  text-align: center;
}


.todo {
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 5px 10px 5px rgba(151, 151, 151, 0.2);
  transition: ease 0.5s;
}

.todo:hover {
  width: 82%;
  transition: ease 0.5s;
}

.delete-btn {
  float: right;
}

.check-box {
  float: left;
}



